services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - /home/mjeannin/data/mariadb:/var/lib/mysql
    networks:
      - inception
    restart: unless-stopped

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - /home/mjeannin/data/wordpress:/var/www/wordpress
    networks:
      - inception
    restart: unless-stopped

  nginx:
    build:
      context: ./requirements/nginx
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
    container_name: nginx
    env_file:
      - .env
    depends_on:
      - wordpress
    volumes:
      - /home/mjeannin/data/wordpress:/var/www/wordpress:ro
    ports:
      - "443:443"
    networks:
      - inception
    restart: unless-stopped


networks:
  inception:
    driver: bridge